/* @import '@fontsource/fira-mono';
@import '@fontsource/work-sans';
@import '@fontsource/work-sans/400.css';
@import '@fontsource/work-sans/500.css';
@import '@fontsource/work-sans/600.css';
@import '@fontsource/work-sans/700.css';
@import '@fontsource/work-sans/800.css';
@import '@fontsource/work-sans/900.css'; */

:root {
	--bg: #0b101b,
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

button {
	width: -moz-fit-content;
	width: fit-content;
	height: fit-content;
	background: none;
	cursor: pointer;
	border: none;
}

a {
	text-decoration: none;
	color: unset;
}

li {
	list-style: none;
}

input {
	outline: none;
}